.rating-list {
  display: inline-flex;
  margin-bottom: 15px;
  width: 98%;
}
.rating-list-left {
  height: 16px;
  width: 55%;
  margin-top: -10px;
}
.rating-list-center {
  width: 25%;
}
.rating-list-right {
  text-align: center;
  width: 10%;
  margin-top: -5px;
}
.rating-list-end {
  text-align: center;
  width: 10%;
  margin-top: -5px;
}
